langgraph
langchain
streamlit
python-dotenv
ipykernel
sentence-transformers
openrouter
faiss-cpu
langchain-community
openai
langchain_openai
requests
folium
streamlit_folium
geopy
graphviz
pyvis
openrouteservice